@import "./Root.css";
@import "./Reset.css";

.page {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100dvh;
  margin-left: var(--nav-width);
  overflow-x: hidden;
}

/* 패딩 단독 처리 */
.wrapper {
  /* position: absolute; */
  padding: 15px 20px;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  /* padding: 18px 40px; */
  border-bottom: 3px solid rgba(128, 128, 128, 0.1);
}

.header button {
  display: inline-block;
  padding: 8px 24px;
  background-color: var(--nav-color);
  border: transparent;
  font-weight: bold;
}

.header button:hover {
  background-color: var(--btn-color-click);
}

.search {
  display: flex;
  flex-direction: column;
  /* padding: 10px 20px; */
}

.search input {
  margin-bottom: 15px;
  padding: 10px;
  border: transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.27);
}

.search input:focus {
  outline: none;
  background-color: rgba(69, 248, 117, 0.045);
}

.search button {
  margin-left: auto;
  width: 80px;
  height: 30px;
}
