@import "../styles/Root.css";

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: var(--nav-width);
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--nav-color);
  height: 100dvh;
  z-index: 100;
}

.title {
  margin: 20px 30px 55px 30px;
}
