@import "./styles/Root.css";
@import "./styles/Reset.css";

/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
} */

.App {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color);
  /* width: 100dvw; */
  min-height: 100dvh;
}

/* .leftSectionWrapper {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  background-color: aqua;
}

.rightSectionWrapper {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  height: 100dvh;
  background-color: black;
} */
