.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 21px 18px;
}

.btn img {
  width: 45px;
  padding-right: 20px;
}

/* 텍스트 드래그 막기 */
.btn p {
  font-weight: bold;
  user-select: none;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.459);
}
